@model ECommerceSite.DAL.Models.Product
@{
    ViewBag.DetailLink = $"/Product/Detailed/{Model.Id}";
}


<div class="product-model flex">
    <a class="product-img-container" href="@ViewBag.DetailLink">
        <img src="@Model.ImageUrl" class="product-img" />
    </a>
    <div class="product-details">
        <a class="flex-column product-detail" href="@ViewBag.DetailLink">
            <h2>@Model.Name</h2>
            <h3>@string.Format("${0:#.00}", Model.Cost)</h3>
        </a>
        @if (User.IsInRole("Admin"))
        {
            <a href="/Product/Delete/@Model.Id" class="product-delete">
                Delete
            </a>
        }
    </div>
</div>
